@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Jost&display=swap');
@font-face {
    font-family: 'Butler-Medium';
    src: url('Butler-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
	--primary: #D6EF0E;
	--second1: #1E1E1E;
	--second2: #FFFFFF;
}

* {
	color: var(--second2);
}

body {
	background-color: var(--second1);
	margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
    overflow-x: hidden;
}

/* You shan't drag the holy nfts (but you can right click on them) */
img {
	user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#bg img {
	position: fixed;
	z-index: -100;
    left: 0;
    top: 0;
    mix-blend-mode: color-burn;
    width: 100%;
}

span {
	color: var(--primary);
}

nav {
	display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
}

nav #navbar {
	display: flex;
	gap: 35px;
}

#focus {
	border-bottom: var(--primary) solid 1px
}

#contact-button {
	display: flex;
}

.summary {
	display: flex;
    justify-content: space-between;
}

.summary .left {
	max-width: 30%;
    line-height: 450%;
}

.summary .left p {
	line-height: 25px;
    width: 85%;
}

.summary .right {
	position: relative;
	margin-top: 70px;
    max-width: 30%;
    max-height: initial;
}

.summary .right img {
	max-width: 80%;
    border-radius: 60px;
}

.container {
	background-color: #131E3A;
    border-radius: 16px;
    border-top: 1px solid var(--primary);
    padding: 15px;
}

.summary .right .bid_square {
	position: absolute;
	top: 390px;
    left: 174px;
}

.summary .right .bid_square .bid {
	display: flex;
    gap: 94px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.container button {
	text-align: center;
    margin: auto;
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 16px;
    padding: 12px;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: 700;
    margin-top: 10px;
    color: var(--primary);
    cursor: pointer;
}

.container button:hover {

}

.container .bid_button {
	text-align: center;
}

h1, h2 {
	font-family: 'Butler-Medium';
}

h2 {
	font-size: 48px;
    width: 35%;
}

h1 {
	font-size: 64px;
}

.colorPri {
	color: var(--primary) !important;
}

.bold {
	font-weight: 700 !important;
}

.glow {
	position: absolute;
    z-index: -1;
    background-color: #1F413D;
    width: 631px;
    height: 438px;
    filter: blur(200px);
}

.summary .glow {
	top: 90px;
    right: 400px;
}

.summary .left .buttons {
	font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.buttons .button1, .title a, nav a {
	background-color: var(--primary);
    padding: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    cursor: pointer;
}

.buttons .button2 {
	border-radius: 8px;
    padding: 25px;
    margin-left: 15px;
    cursor: pointer;
}

.summary .left .stats {
	display: flex;
    gap: 30px;
    align-items: center;
}

.summary .left .stats .numbers {
	font-family: 'Butler-Medium';
	font-size: 48px;
    margin-bottom: 25px;
}

.summary .left .stats .vertibar {
	background-color: var(--primary);
    height: 80px;
    width: 1px;
}

.coolart {
	position: relative;
	padding-top: 100px;
    padding-bottom: 100px;
}

.coolart .glow {
	right: -300px;
    bottom: -300px;
}

.coolart .title {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery {
	display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.gallery .bid {
	display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
}

.gallery .bid .bid_part {
	display: inline-flex;
}

.gallery .bid_bottom {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery .bid_bottom p, .gallery .bid_bottom button {
	margin: 0;
}

.gallery .bid_bottom .bid_time {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
}

.gallery .bid_bottom p.gray {
	color: #838382;
    font-size: 12px;
}

.gallery .bid_bottom .time {
	display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
    margin-top: 3px;
}

.gallery .bid_bottom .time img {
	max-width: 20px;
}

.create {
	position: relative;
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.create .text .text {
	margin-bottom: 50px;
	width: 410px;
}

.create .text .text h2 {
	width: 100%;
}

.create .text .text p {
	width: 90%;
	line-height: 150%;
}

.create .images {
	display: inline-grid;
    grid-template-columns: repeat(38, 20px);
    grid-template-rows: 25% 100px auto;
}

.create .images .i1 {
	grid-column: 1;
    grid-row: 2;
    z-index: 1;
}

.create .images .i2 {
	grid-row: 1;
    grid-column: 18;
}

.popular {
	padding-bottom: 50px;
}

.popular .title {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .gallery {
	display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(30, 30px); /* I'm sure the grid could have be made better but oh well */
    grid-template-rows: 320px auto;
}

.popular .gallery .container-1 {
	position: relative;
    grid-column: 3;
    grid-row: 1;
}
.popular .gallery .container-2 {
	position: relative;
    grid-column: 9;
    grid-row: 1;
}
.popular .gallery .container-3 {
	position: relative;
    grid-column: 3;
    grid-row: 2;
}
.popular .gallery .container-4 {
	position: relative;
    grid-column: 11;
    grid-row: 2;
}
.popular .gallery .container-5 {
	position: relative;
    grid-column: 19;
    grid-row: 1;
}

.popular .gallery .creator-data {
	position: absolute;
	display: flex;
    align-items: center;
    top: 240px;
    left: 10px;
    gap: 10px;
}

.popular .gallery .special {
	top: 580px;
}

.popular .gallery .creator-data .creator-text {
	line-height: 10px;
    width: 150px;
    font-family: 'Inter';
}

.popular .gallery .creator-data .creator-text .key {
	font-size: 12px;
    color: gray;
    margin-bottom: 10px;
}

.popular .gallery .creator-data .creator-text .field {
	margin-top: 5px;
}

.contact {
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact .images {
	position: relative;
	height: 450px;
}

.contact .images .underImage {
	position: relative;
	transform: rotate(-10deg);
}

.contact .images .overImage {
	position: absolute;
	top: 100px;
    left: 300px;
}

.contact .text {
	width: 45%;
}

.contact .text .notForm h2 {
	width: 100%;
}

.contact .text .notForm p {
	width: 60%;
    font-family: 'Inter';
}

.contact .text .isForm form {
	position: relative;
}

.contact .text .isForm form .email {
	height: 60px;
}

.contact .text .isForm form input[type="email"] {
	font-family: 'Inter';
    width: 42%;
    height: 60px;
    padding-left: 30px;
    padding-right: 160px;
    background-color: #131E3A;
    border: none;
    border-radius: 16px;
}

.contact .text .isForm form input[type="submit"] {
	position: absolute;
	top: 4px;
    left: 350px;
    height: 55px;
    padding: 45px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

footer {
	font-family: 'Inter', sans-serif;
	padding-top: 50px;
    padding-bottom: 50px;
}

footer h2 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 20px;
}

footer .upper {
	display: flex;
	justify-content: space-between;
}

footer .upper .socials {
	width: 20%;
}

footer .upper .socials p {
	font-family: 'Inter';
    line-height: 150%;
    margin-bottom: 30px;
    width: 99%;
}

footer .upper .socials .icons {
	gap: 20px;
    display: flex;
    font-size: 20px;
}

footer .upper .socials .icons a {
	cursor: pointer;
}

footer .upper .socials .icons i {
	transition: 0.3s;
}

footer .upper .socials .icons i:hover {
	color: var(--primary);
}

footer .upper .listMenu {
	display: flex;
	gap: 135px;
}

footer .upper .listMenu .list {
	text-align: left;
	line-height: 200%;
}

footer .upper .listMenu .list ul {
	list-style: none;
	padding: 0;
}

footer .separator {
	height: 2px;
	background-color: #323232;
}

footer .copyright {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

footer .copyright .right {
	display: flex;
	gap: 50px;
}